<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>汽车客运管理系统</title>
<!-- Bootstrap -->
<link href="#" th:href="@{/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<script type="text/javascript" src="#" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="#" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="#" th:src="@{/js/main.js}"></script>
<link href="#" th:href="@{/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<script type="text/javascript" src="tickets/wayMgr/js/jquery.min.js"></script>
<script type="text/javascript" src="tickets/wayMgr/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="tickets/wayMgr/js/main.js"></script>
</head>
<body>
	<!-- 标题栏 -->
	<div th:replace="~{comm/titleBar::titleBar('way',@{/},${orderIndex},${orderFlag},null)}"></div>
	<!-- body -->
	<div class="container">
	<div class="row">
		<!-- 菜单 -->
		<div class="col-md-3" th:include="~{comm/titleBar::mainMenu('way')}"></div>
		<!-- 表格 -->
		<div class="col-md-9">
		<table class="table table-striped">
	<thead>
	<tr id="tabTitle">
		<td >序号</td>
		<td >线路编号</td>
		<td >线路名称</td>
		<td >始发站</td>
		<td >终点站</td>
		<td >全程基本票价</td>
		<td >操作</td>
	</tr>
</thead>
<tbody>
	<tr th:each="routes,st:${routes}">
		<td th:text="${st.count}">1</td>
		<td th:text="${routes.routeId}">520</td>
		<td th:text="${routes.routeName}">西宝直达</td>
		<td th:text="${routes.startStation.stationName}">西安</td>
		<td th:text="${routes.terminalStation.stationName}">宝鸡</td>
		<td th:text="${routes.price}">100</td>
		<td><a href="#" >
				<span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
			<a href="#" >
				<span class="glyphicon glyphicon-trash"></span></a></td>
	</tr>
</tbody>
</table>
<!-- 分页 -->

		</div>
	</div>
</div>
		
</body>
</html>